@page
@model MyWebSite.Pages.Ads.DeleteModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="container">
        <h1>@Localizer["Удалить"]</h1>

        <h3>@Localizer["Вы уверены, что хотите удалить это?"]</h3>
        <hr />
        <div class="row">
            <div class="col">
                <div>
                    <h4>@Localizer["Объявления"]</h4>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ads.AdsID)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Ads.AdsID)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ads.Title)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Ads.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ads.Tags)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Ads.Tags)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ads.Department)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Ads.Department.Name)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="Ads.AdsID" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-page="./Index">@Localizer["Вернуться к списку"]</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
