@page "{id:int?}"
@model MyWebSite.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Admin"]</h1>

<p>
    <a asp-page="Create">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Title"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AdminData.Company)
        {
            string selectedRow = "";
            if (item.ID == Model.CompanyID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var user in item.AdminIndexData)
                        {
                            @*@user.User.UserID @:  @user.User.Title <br />*@
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">@Localizer["Select"]</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
