@page
@model MyWebSite.Pages.Company.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Детали</h1>
                    <div>
                        <h4>Компании</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Title)
                            </dd>
                            <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Company.Rank)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Company.Rank)
                                </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.EnrollmentDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.EnrollmentDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Thematics)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Thematics)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Bonus)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Bonus)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Images)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Images)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Video)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Video)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Topic)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Topic)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.News)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.News)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Price)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Price)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Tags)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Company.Tags)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Company.Owner)
                            </dt>
                        </dl>
                    </div>
                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="hosted_button_id" value="NMUMHG7VQM4FL" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_BY/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    <div>
                        <a asp-page="./Edit" asp-route-id="@Model.Company.ID">Редактировать</a> |
                        <a asp-page="./Index">Вернуться к списку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>