@page
@model MyWebSite.Pages.Company.EditModel

@{
    ViewData["Title"] = "Edit";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container-fluid">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>@Localizer["Редактировать"]</h1>

                    <h4>@Localizer["Компанию"]</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Company.ID" />
                                <div class="form-group">
                                    <label asp-for="Company.Title" class="control-label">Название:</label>
                                    <input asp-for="Company.Title" class="form-control" />
                                    <span asp-validation-for="Company.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Rating" class="control-label">Рейтинг:</label>
                                    <input asp-for="Company.Rating" class="form-control" />
                                    <span asp-validation-for="Company.Rating" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.EnrollmentDate" class="control-label">Дата Регистрации:</label>
                                    <input asp-for="Company.EnrollmentDate" class="form-control" />
                                    <span asp-validation-for="Company.EnrollmentDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Thematics" class="control-label">Тематика:</label>
                                    <input asp-for="Company.Thematics" class="form-control" />
                                    <span asp-validation-for="Company.Thematics" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Bonus" class="control-label">Бонус:</label>
                                <select asp-for="Company.Thematics" class="form-control" aria-label="Default select example">
                                    <option selected>@Localizer["Выберите тематику вашей компании"]</option>
                                    <option value="1">@Localizer["Образование"]</option>
                                    <option value="2">@Localizer["Животные"]</option>
                                    <option value="3">@Localizer["Права человека"]</option>
                                    <option value="4">@Localizer["Природа"]</option>
                                    <option value="5">@Localizer["Культура"]</option>
                                    <option value="6">@Localizer["Игра"]</option>
                                    <option value="7">@Localizer["Другое"]</option>
                                </select>
                                    <span asp-validation-for="Company.Bonus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Description" class="control-label">Описание:</label>
                                    <textarea asp-for="Company.Description" class="form-control"></textarea>
                                    <span asp-validation-for="Company.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Images" class="control-label">Изобраение:</label>
                                    <input asp-for="Company.Images" class="form-control" />
                                    <span asp-validation-for="Company.Images" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Video" class="control-label">Видео:</label>
                                    <input asp-for="Company.Video" class="form-control" />
                                    <span asp-validation-for="Company.Video" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Topic" class="control-label">Тема:</label>
                                    <input asp-for="Company.Topic" class="form-control" />
                                    <span asp-validation-for="Company.Topic" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.News" class="control-label">Новости:</label>
                                    <textarea asp-for="Company.News" class="form-control"></textarea>
                                    <span asp-validation-for="Company.News" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Price" class="control-label">Цена:</label>
                                    <input asp-for="Company.Price" class="form-control" />
                                    <span asp-validation-for="Company.Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company.Tags" class="control-label">Тэги:</label>
                                    <input asp-for="Company.Tags" class="form-control" />
                                    <span asp-validation-for="Company.Tags" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-page="./Index">@Localizer["Вернуться к списку"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
