@page
@model MyWebSite.Pages.Company.IndexModel

@{
    ViewData["Title"] = "Company";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container-fluid">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>@Localizer["Компании"]</h1>

                    <p>
                        <a asp-page="Create">@Localizer["Создать"]</a>
                    </p>

                    <form asp-page="./Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Find by name:
                                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                                <input type="submit" value="Search" class="btn btn-primary" /> |
                                <a asp-page="./Index">@Localizer["Вернуться к списку"]</a>
                            </p>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                                       asp-route-currentFilter="@Model.CurrentFilter">
                                        @Html.DisplayNameFor(model => model.Company[0].Title)
                                    </a>
                                </th>
                                <th>
                                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                                       asp-route-currentFilter="@Model.CurrentFilter">
                                        @Html.DisplayNameFor(model => model.Company[0].Rating)
                                    </a>
                                </th>
                                <th>
                                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                                       asp-route-currentFilter="@Model.CurrentFilter">
                                        @Html.DisplayNameFor(model => model.Company[0].EnrollmentDate)
                                    </a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Company)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.ID">@Localizer["Редактировать"]</a> |
                                        <a asp-page="./Details" asp-route-id="@item.ID">@Localizer["Подробности"]</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.ID">@Localizer["v"]</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.Company.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Company.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Company.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    @Localizer["Предыдущий"]
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Company.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    @Localizer["Следующий"]
</a>