@page
@model MyWebSite.Pages.Instructors.CreateModel

@{
    ViewData["Title"] = "Create";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Создание"]</h2>

<h4>@Localizer["Пользователя"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5 asp-for="Instructor.LastName" class="control-label">@Localizer["Фамилия"]</h5>
                <input asp-for="Instructor.LastName" class="form-control" />
                <span asp-validation-for="Instructor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.FirstMidName" class="control-label">@Localizer["Имя"]</h5>
                <input asp-for="Instructor.FirstMidName" class="form-control" />
                <span asp-validation-for="Instructor.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.HireDate" class="control-label">@Localizer["Дата Найма"]</h5>
                <input asp-for="Instructor.HireDate" class="form-control" />
                <span asp-validation-for="Instructor.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.Age" class="control-label">@Localizer["Возраст"]</h5>
                <input asp-for="Instructor.Age" class="form-control" />
                <span asp-validation-for="Instructor.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.Country" class="control-label">@Localizer["Страна"]</h5>
                <input asp-for="Instructor.Country" class="form-control" />
                <span asp-validation-for="Instructor.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.City" class="control-label">@Localizer["Город"]</h5>
                <input asp-for="Instructor.City" class="form-control" />
                <span asp-validation-for="Instructor.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.Email" class="control-label">@Localizer["Почта"]</h5>
                <input asp-for="Instructor.Email" class="form-control" />
                <span asp-validation-for="Instructor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.AboutMe" class="control-label">@Localizer["О себе"]</h5>
                <input asp-for="Instructor.AboutMe" class="form-control" />
                <span asp-validation-for="Instructor.AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 asp-for="Instructor.OfficeAssignment.Location" class="control-label">@Localizer["Местоположение"]</h5>
                <input asp-for="Instructor.OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="Instructor.OfficeAssignment.Location" class="text-danger" />
            </div>
            <div class="form-group">
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                @{
                                    int cnt = 0;

                                    foreach (var ads in Model.AssignedAdsDataList)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="selectedCourses"
                                                   value="@ads.AdsID"
                                                   @(Html.Raw(ads.Assigned ? "checked=\"checked\"" : "")) />
                                            @ads.AdsID @:  @ads.Title
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-page="Index">@Localizer["Вернуться к списку"]</a>
    </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
