@page
@model MyWebSite.Pages.User.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.AboutMe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.AboutMe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Comments)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Instructors.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
