@page
@model MyWebSite.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Подробности"]</h1>

<div>
    <h4>@Localizer["Пользователь"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.AboutMe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructors.AboutMe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructors.Comments)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Instructors.ID">@Localizer["Редактировать"]</a> |
    <a asp-page="./Index">@Localizer["Вернуться к списку"]</a>
</div>
