@page "{id:int?}"
@model MyWebSite.Pages.User.IndexModel

@{
    ViewData["Title"] = "User";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Your companies"]</h1>

<p> 
    <a asp-page="Create">@Localizer["Create New"]</a> @*создание компании*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Last Name"]</th>
            <th>@Localizer["First Name"]</th>
            <th>@Localizer["Hire Date"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AdminData.User)
        {
            string selectedRow = "";
            if (item.ID == Model.UserID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var company in item.AdminIndexData)
                        {
                            @*@company.Company.CompanyID @:  @company.Company.Title <br />*@
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">@Localizer["Select"]</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
