@*Страница Админа, сюда пользователь зайти не может, сделать ссылки на пользователя*@

@page "{id:int?}"
@model MyWebSite.Pages.User.IndexModel

@{
    ViewData["Title"] = "User";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Пользователи"]</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Localizer["Фамилия"]</th>
                <th>@Localizer["Имя"]</th>
                <th>@Localizer["Дата Найма"]</th>
                <th>@Localizer["Назначить админом"]</th>
                <th>@Localizer["Блокировать"]</th>
                <th>@Localizer["Удалить"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InstructorData.Instructors)
            {
                string selectedRow = "";
                if (item.ID == Model.InstructorID)
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                    <td>
                        <a href="/User/Delete.cshtml" type="button" class="btn btn-danger">@Localizer["Удалить"]</a>
                    </td>
                    <td>
                        @{
                            foreach (var ads in item.AdsAssignments)
                            {
                                @ads.Ads.AdsID @:  @ads.Ads.Title <br />
                            }
                        }
                    </td>
                    <td>
                        <a asp-page="./Index" asp-route-id="@item.ID">@Localizer["Выбрать"]</a> |
                        <a asp-page="./Edit" asp-route-id="@item.ID">@Localizer["Редактировать"]</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">@Localizer["Подробности"]</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">@Localizer["Удалить"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.InstructorData.Ads != null)
{
    <h3>@Localizer["Компания создана выбранным пользователем"]</h3>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>@Localizer["Номер"]</th>
                <th>@Localizer["Название"]</th>
                <th>@Localizer["Отдел"]</th>
            </tr>

            @foreach (var item in Model.InstructorData.Ads)
            {
                string selectedRow = "";
                if (item.AdsID == Model.AdsID)
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        <a asp-page="./Index" asp-route-courseID="@item.AdsID">@Localizer["Выбрать"]</a>
                    </td>
                    <td>
                        @item.AdsID
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Department.Name
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.InstructorData.Enrollments != null)
{
    <h3>
        @Localizer["Компания зарегистрирована в выбранных объявлениях"]
    </h3>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>@Localizer["Имя"]</th>
                <th>@Localizer["Класс"]</th>
            </tr>
            @foreach (var item in Model.InstructorData.Enrollments)
            {
                <tr>
                    <td>
                        @item.Company.FullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </table>
    </div>
}
