@page "{id:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Company";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Coumpany"]</h1>
<br />
<h5>@Localizer["Companies with the highest rating"]</h5>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Rank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h5>@Localizer["Updated the company"]</h5>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Update)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update)
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<h5>@Localizer["Tags"]</h5>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h5>@Localizer["Новости"]</h5>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].News)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.News)
                </td>
            </tr>
        }
    </tbody>
</table>
