@page
@model MyWebSite.Pages.Departments.CreateModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>@Localizer["Создать"]</h1>

                <h4>@Localizer["Отдел"]</h4>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Department.Name" class="control-label">@Localizer["Имя:"]</label>
                                <input asp-for="Department.Name" class="form-control" />
                                <span asp-validation-for="Department.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Department.Budget" class="control-label">@Localizer["Бюджет:"]</label>
                                <input asp-for="Department.Budget" class="form-control" />
                                <span asp-validation-for="Department.Budget" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Department.StartDate" class="control-label">@Localizer["Дата Начала:"]</label>
                                <input asp-for="Department.StartDate" class="form-control" />
                                <span asp-validation-for="Department.StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Department.RowVersion" class="control-label">@Localizer["Версия строки:"]</label>
                                <input asp-for="Department.RowVersion" class="form-control" />
                                <span asp-validation-for="Department.RowVersion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Department.Administrator" class="control-label">@Localizer["Администратор:"]</label>
                                <input asp-for="Department.Administrator" class="form-control" />
                                <span asp-validation-for="Department.Administrator" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-page="Index">@Localizer["Вернуться к списку"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
